
@font-face {
font-family: 'Circular Std Bold';
font-style: normal;
font-weight: normal;
src: local('Circular Std Bold'), url(http://dannyseabra.com/circular-std-book/CircularStd-Bold.woff) format('woff');
}
